{% extends "./layouts/main.twig" %}
{% import "./macros/card.twig" as card %}

{% block content %}
	<main
		data-bs-spy="scroll" data-bs-target="#navbar-example">
		<!-- main page -->
		<div class="d-flex flex-row width-100">

			<div class="flex">
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Yesterday
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Today
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Tomorrow
				</button>
			</div>
		</div>
	</main>

	{{card.cards(exercises)}}

{% endblock %}
