{% extends "./layouts/main.twig" %}
{% import "./macros/card.twig" as card %}
{% block scripts %}
 <script>
       /*
	   function deleteRemove(id){
			return{
			delete(id){
				alert("delete kar mikone")
				fetch("/homepage/delete", {
						method: "POST", 
						body: JSON.stringify(id),
						})
				}
			}
		}
		*/
		/*
		function delete(id){
				alert("delete kar mikone");
				fetch("/homepage/delete", {
						method: "POST", 
						body: JSON.stringify(id),
						})
		}
		*/
</script>
{% endblock %}
{% block content %}
	<main
		data-bs-spy="scroll" data-bs-target="#navbar-example">
		<!-- main page -->
		<div class="d-flex flex-row width-100">

			<div class="flex">
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Yesterday
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Today
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button">
					Tomorrow
				</button>
			</div>
		</div>
	</main>

	{{card.cards(exercises)}}
{% endblock %}
