{% extends "./layouts/main.twig" %}
{% import "./macros/card.twig" as card %}
{% block scripts %}
	<script>
		function filterDays(askedDay) {
			fetch (`/homepage/filterdays/${askedDay}`, {method: "POST"})
			.then(data => {
  			  console.log(data);
 			});
		}
	</script>
{% endblock %}
{% block content %}
	<main
		data-bs-spy="scroll" data-bs-target="#navbar-example">
		<!-- main page -->
		<div class="d-flex flex-row width-100">

			<div class="flex">
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(1)">
					Yesterday
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(2)">
					Today
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(3)">
					Tomorrow
				</button>
			</div>
		</div>
	</main>

	{{card.cards(exercises)}}

{% endblock %}
