{% extends "./layouts/main.twig" %}
{% import "./macros/card.twig" as card %}
{% block scripts %}
	<script>
		async function filterDays(askedDay) {
			const res = await fetch (`/homepage/filterdays/${askedDay}`, {method: "POST"})
			const data = await res.json()
			console.log (data)
		}

	localStorage.setItem("userId", {{userId}});

	</script>
{% endblock %}
{% block content %}
	<main
		data-bs-spy="scroll" data-bs-target="#navbar-example">
		<!-- main page -->
		<div class="d-flex flex-row width-100">

			<div class="flex">
				<h1>{{userId}}</h1>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(1)">
					Yesterday
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(2)">
					Today
				</button>
				<button class="btn btn-primary btn btn-info d-flex my-5" type="button" onclick="filterDays(3)">
					Tomorrow
				</button>
			</div>
		</div>
	</main>

	{{card.cards(exercises)}}

{% endblock %}
