/* .body{
    background-image: url(/Shadi-Pouyan-Ehsan-Farzaneh-workoutTrackerApp/Public/assets/images/gyym.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(5px);} */